*{
    font-family: 'Nunito Sans';
}

body{
    overflow-x: hidden;
}

.information{
    background-image: url('../../assets/background/blue-sky.svg');
    background-size: cover;
    background-repeat: no-repeat;
} 

.information .container{
    padding:0 50px 0 50px
}


.logo{
    color: white;
    font-weight: bold;
    font-size: 29px;
}

.image img{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;

}


.information .description h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: white;
    margin-bottom: 30px;
}
.information .description p{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    max-width: 488px;
}



.login-container{
    padding:0 0 0 30px;
}
.login h2{
    margin-top: 121px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    max-width: 384px;
    margin-bottom: 30px;
    margin-left: 12px; 
}
.login p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 430px;
    margin-bottom: 63px;
    margin-left: 12px;
}


.login .email {
    position: relative;
}

.login .email input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    margin-bottom: 73px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    box-shadow: none;

}

.login .password input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    box-shadow: none;

}

.login .email .icon-input{
    position: absolute;
    top: 5px;
}
.login .password .icon-input{
    position: absolute;
    top: 5px;
}

.login .password .eye-crossed{
    position: absolute;
    top: 8px;
    right: 15px;
}
.login .password .forgot-password a{
    position: absolute;
    top: 52px;
    right: 13px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 14px;
    color: rgba(58, 61, 66, 0.8);
    text-decoration: none;
}

.login .form-button button{
    background: #DADADA;
    /* box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05); */
    border-radius: 12px;
    width: 100%;
    margin-top: 60px;
    height:57px;
    border: hidden;
    font-size: 18px;
    color: #88888F;
    margin-bottom: 40px;
}

.login  .sign-up p{
    font-weight: normal;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.8);;

}
.login  .sign-up p a{
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #6378f4;
}


.pin input{
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    width: 53px;
    height: 65px;
    text-align: center;
    /* margin: 40px 14px 30px 0px; */
    font-weight: bold;
    font-size: 30px;
    color: #3A3D42;
}

.form-input-pin{
    /* position: flex; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.pin .input-line{
    position: absolute;
    bottom: 10px;
}

@media (max-width: 575.98px) { 
    .information .container{
        padding:0 0 0 0;
    }
    .login-container{
        padding:0 0 0 14px;
    }

    .image img{
        color: white;
        margin-top: 5px;
        margin-bottom: 30px;
    
    }


    .login h2{
        margin-top: 40px;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        max-width: 384px;
        margin-bottom: 30px;
    }


    .login h2{
        margin-left: 6px; 
    }
    .login p{
        margin-left: 6px;
    }

    .pin .input-line{
        position: absolute;
        bottom: 9px;
    }

    .pin input{
        background: #FFFFFF;
        border: 1px solid rgba(169, 169, 169, 0.6);
        box-sizing: border-box;
        box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
        border-radius: 10px;
        width: 43px;
        height: 55px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: #3A3D42;
    }

    .col-pin{
        padding-right: 0 !important;
    }


 }
