*{
    font-family: 'Nunito Sans';
}
body{
    overflow-x: hidden;
}

.information{
    background-image: url('../../assets/background/blue-sky.svg');
    background-size: cover;
    background-repeat: no-repeat;
}


.information .container{
    padding:0 50px 0 50px
}


.logo{
    color: white;
    font-weight: bold;
    font-size: 29px;
}

.image img{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;

}


.information .description h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: white;
    margin-bottom: 30px;
}
.information .description p{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    max-width: 488px;
}



.sign-up-container{
    padding:0 0 0 30px;
}
.sign-up h2{
    margin-top: 121px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    max-width: 384px;
    margin-bottom: 30px;
    margin-left: 12px; 
    color: #3A3D42;
}
.sign-up p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 430px;
    margin-bottom: 63px;
    margin-left: 12px;
    color: rgba(58, 61, 66, 0.6);
}


.sign-up .username {
    position: relative;
}

.sign-up .username input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    margin-bottom: 73px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    outline: hidden;
    box-shadow: none;
    
}
.eye-crossed{
    cursor: pointer;
}


.sign-up .email {
    position: relative;
}

.sign-up .email input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    margin-bottom: 73px;
    font-weight: normal;
    font-size: 16px !important;
    box-shadow: none;
    line-height: 23px;
}


.sign-up .password input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    box-shadow: none;

}

.sign-up .username .icon-input{
    position: absolute;
    top: 5px;
}
.sign-up .email .icon-input{
    position: absolute;
    top: 5px;
}
.sign-up .password .icon-input{
    position: absolute;
    top: 5px;
}

.sign-up .password .eye-crossed{
    position: absolute;
    top: 8px;
    right: 15px;
}
.sign-up .password .forgot-password a{
    position: absolute;
    top: 52px;
    right: 13px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 14px;
    color: rgba(58, 61, 66, 0.8);
    text-decoration: none;
}

.sign-up .form-button button{
    background: #DADADA;
    border-radius: 12px;
    width: 100%;
    margin-top: 60px;
    height:57px;
    border: hidden;
    font-size: 18px;
    color: #88888F;
    margin-bottom: 40px;
}

.sign-up  .sign-in p{
    font-weight: normal;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.8);;

}
.sign-up  .sign-in p a{
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #6378f4;
}

/* @media (min-width: 575.98px) {
    .title-mobile {
        display: none;
    }
} */

@media (max-width: 575.98px) { 
    .information .container{
        display: none;
    }
    .sign-up-container{
        padding:0 0 0 14px;
        background-color: #E5E5E5;
    }
    
    .sign-up-container .sign-up h3 {
        color: #6379F4;
        font-weight: 900;
        text-align: center;
        padding: 20% 0;
    }

  
    .sign-up-container .sign-up .username input {
        margin-bottom: 0px !important;
    }
    .sign-up-container .sign-up .email input {
        margin-bottom: 0px !important;
    }
    .sign-up-container .sign-up .password input {
        margin-bottom: 20px !important;
    }

    
    .sign-up-container .sign-up h2{
        display: none;
    }
    .sign-up-container .sign-up .desc{
        display: none;
    }
    .sign-up-container .sign-up p{
        margin: 0 !important;
    }
    
       /* dipakai  */
    .sign-up-container .form-group{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fff;
        padding: 20px 10px;
    }

    .sign-up-container .helper-text{
        color: rgba(58, 61, 66, 0.6);
        text-align: center;
    }

    .sign-up-container .title-mobile{
        padding-bottom: 25px;
    }
    .sign-up-container .title-mobile h4{
        text-align: center;
        font-weight:bold;
        margin-bottom: 25px;
    }.sign-up-container 

    .sign-up-container .email {
        margin: 0px !important;
    }

    .sign-up-container .password {
        margin: 0px !important;
    }

    .sign-up-container .btn-primary {
        margin: .5rem 0 !important;
    }
    /* tutup dipakai  */
    .sign-up-col{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .sign-up .password .eye-crossed{
        position: absolute;
        top: 25px !important;
    }

    .sign-up .username .icon-input{
        position: absolute;
        top: 25px !important;
    }

    .sign-up .email .icon-input{
        position: absolute;
        top: 25px !important;
    }
    .sign-up .password .icon-input{
        position: absolute;
        top: 25px !important;
    }
    


 }

