.card-person{
    display: none ;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    /* padding-right: 5px !important; */
    /* padding-left: 5px !important; */
    height: 96px !important;
    background: #fff !important;
    border-radius: 10px !important;
    margin-bottom: 20px !important;
}
.card-person .wrapper-card-person{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.card-person .wrapper-card-person img{
    width: 56px !important;
    height: 56px !important;
    border-radius: 10px !important;
}
.card-person .wrapper-card-person div{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 15px !important;
    justify-content: center !important;
}
.card-person .wrapper-card-person div{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 15px !important;
    justify-content: center !important;
}
.card-person .wrapper-card-person div h2{
    font-weight: bold !important;
    font-size: 16px !important;
    color: #4D4B57 !important;
}
.card-person .wrapper-card-person span{
    font-weight: normal !important;
    font-size: 14px !important;
    color: #7A7886 !important;
    
}
.card-person p{
    font-weight: bold !important;
    font-size: 18px !important;
    color: #FF5B37 !important;
    margin-right: 16px !important;
}


@media (max-width: 575.98px) { 

    .card-person{
        display: flex !important;
    }
}