*{
    font-family: 'Nunito Sans';
}

body{
    overflow-x: hidden;
}

.information{
    background-image: url('../../assets/background/blue-sky.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.information .container{
    padding:0 50px 0 50px
}


.logo{
    color: white;
    font-weight: bold;
    font-size: 29px;
}

.image img{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;

}


.information .description h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: white;
    margin-bottom: 30px;
}
.information .description p{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
    max-width: 488px;
}



.login-container{
    padding:0 0 0 30px;
}
.forgot-password h2{
    margin-top: 121px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    max-width: 384px;
    margin-bottom: 30px;
    margin-left: 12px; 
    color: #3A3D42;
}
.forgot-password p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 430px;
    margin-bottom: 63px;
    margin-left: 12px;
    color: rgba(58, 61, 66, 0.6);
}


.forgot-password .email {
    position: relative;
}

.forgot-password .email input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    margin-bottom: 73px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    box-shadow: none;
    

}


.forgot-password .password input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    border-top:hidden ;
    border-left:hidden ;
    border-right:hidden ;
    padding: 11px 0px 11px 45px;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 23px;
    box-shadow: none;

}

.forgot-password .email .icon-input{
    position: absolute;
    top: 5px;
}


.forgot-password .form-button button{
    background: #DADADA;
    border-radius: 12px;
    width: 100%;
    margin-top: 20px;
    height:57px;
    border: hidden;
    font-size: 18px;
    color: #88888F;
    margin-bottom: 40px;
}

.eye-crossed{
    cursor: pointer;
}


@media (max-width: 575.98px) {

    .forgot-password h3 {
        color: #6379F4;
        font-weight: 900;
        text-align: center;
        padding: 20% 0;
    }

    .forgot-password h2{
        /* margin-left: 6px;  */
        display: none;
    }
    .forgot-password p{
        margin-left: 6px;
    }



    .login-col{
        padding-right: 0px !important;
    }
    .information .container{
        display: none;
    }
    .login-container{
        padding:0 !important;
        background-color: #E5E5E5;
    }
    .p-2{
        padding:0 !important;
    }
    .forgot-password h3{
        color : #6379F4;
        font-weight: 900;
        text-align: center;
        padding: 20% 0;
    }
    .sign-up p {
        margin: 0 !important;
    }
    .forgot-password h2{
        display: none;
    }
    .forgot-password .desc{
       display: none;
    }
    .forgot-password .form-group{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fff;
        padding: 20px 10px;
    }
    .forgot-password .helper-text{
        color: rgba(58, 61, 66, 0.6);
        text-align: center;
    }
    .forgot-password .title-mobile{
        padding-bottom: 25px;
    }
    .forgot-password .title-mobile h4{
        text-align: center;
        font-weight:bold;
        margin-bottom: 25px;
    }
    .forgot-password .email {
        margin: 0px !important;
    }

    .forgot-password  .email input {
        margin-bottom: 0px !important;
    }
    .forgot-password .email .icon-input{
        position: absolute;
        top: 25px !important;
    }

    .col-forgot{
        padding-right: 0px !important;
        height: 110vh;
        background-color: white;
    }
 }



