
.content{
    margin-top: 40px;
}

a{
    text-decoration: none !important;
}

.content .col-3{
    border-radius: 25px;
}

.content .sidebar .dashboard-tr{
    text-decoration: none;
    font-size: 18px !important;
    margin-top: 47px !important;
    color: #3A3D42 !important;
}

.content .sidebar .transfer div{
    border-left: 5px solid #6379F4;
    height: 35px;
    position: absolute;
    left: 0;
}

.content .sidebar .transfer{
    font-weight: bold;
    margin-top: 64px !important;
    text-decoration: none;
    color: #6379F4;
    font-size: 18px;

}
.content .sidebar .top-up-tr{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}
.content .sidebar .profile-tr{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}
.content .sidebar .logout-sc{
    margin-top: 255% !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;
}


.body-area-success{
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.body-area-success h1{
    font-weight: bold;
    font-size: 18px;
    color: #3A3D42;
    margin-bottom: 25px;
}


.body-area-success .search {
    position: relative;
    margin-bottom: 50px;
}

.body-area-success .search input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    padding: 11px 0px 11px 54px;
    /* margin-bottom: 73px; */
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.4);
    border-radius: 12px;
    background: rgba(58, 61, 66, 0.1);
    border: none;
    height: 54px;
}
.body-area-success .icon-search{
    position: absolute;
    top: 14px;
    left: 18px;
}

.card-profile{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:20px 0px 15px 20px;
    margin-bottom: 40px;
}

.card-details{
    /* height: 110px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:15px 0px 15px 15px;
    margin-bottom: 20px;
}

.body-area-success .receiver h4{
    font-weight: bold;
    font-size: 18px;
    color: #4D4B57;
    margin-top: 8px !important;
    
}
.body-area-success .receiver p{
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
} 
.body-area-success .card-details h4{
    font-weight: bold;
    font-size: 22px;
    color: #4D4B57;
    
}
.body-area-success .card-details p{
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
} 

.body-area-success .back{
    height: 57px;
    width: 197px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fff;
    /* margin-top: 35px; */
}

.body-area-success .btn-download{
    height: 57px;
    width: 197px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    font-weight: bold;
    font-size: 18px;
    color: #6379F4;
    border-radius: 12px;

}
.body-area-success .btn-share{
    height: 57px;
    width: 57px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    font-weight: bold;
    font-size: 18px;
    color: #6379F4;
    border-radius: 12px;
}
.body-area-success .btn-download img{
    margin-top: -4px;
}

.modal{
    margin-top: 8%;
}
.modal .modal-content{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 35px;
}

.modal .modal-header h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
    margin-bottom: 20px;
}
.modal .modal-body p{
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
    max-width: 302px;
}
.modal .modal-body .pin input{
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    width: 53px;
    height: 65px;
    text-align: center;
    margin: 40px 14px 20px 0px;

    font-weight: bold;
    font-size: 30px;
    color: #3A3D42;
}



.status img{
margin-top: 40px;
}
.status h2{
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: #4D4B57;
}


.show{
    outline: hidden;
    border: hidden;
}

@media (max-width: 575.98px) { 
    .body-area-success .back{
        width: 100% !important;

    }
    .body-area-success .btn-download{
        width: 100% !important;

    }
    .body-area-success .btn-share{
        width: 100% !important;

    }
    .detail-failed{
        font-weight: bold;
        font-size: 18px;
        color: #514F5B;
        margin-bottom: 21px;
    }
}


@media (max-width: 575.98px) { 
    .content .sidebar .logout-sc{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .content .sidebar .logout-sc{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }
    .body-area-success .back{
        width: 100% !important;

    }
    .body-area-success .btn-download{
        width: 100% !important;

    }
    .body-area-success .btn-share{
        width: 100% !important;

    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .body-area-success .back{
        width: 100% !important;

    }
    .body-area-success .btn-download{
        width: 100% !important;

    }
    .body-area-success .btn-share{
        width: 100% !important;

    }
 }
