
.content{
    margin-top: 40px;
}

a{
    text-decoration: none !important;
}

.content .col-3{
    border-radius: 25px;
}

.content .sidebar .dashboard-tr{
    text-decoration: none;
    font-size: 18px !important;
    margin-top: 47px !important;
    color: #3A3D42 !important;
}

.content .sidebar .transfer div{
    border-left: 5px solid #6379F4;
    height: 35px;
    position: absolute;
    left: 0;
}

.content .sidebar .transfer{
    font-weight: bold;
    margin-top: 64px !important;
    text-decoration: none;
    color: #6379F4;
    font-size: 18px;

}
.content .sidebar .top-up-tr{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}
.content .sidebar .profile-tr{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}

.content .sidebar .logout-rc{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;
}

.body-area-transfer{
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.body-area-transfer h1{
    font-weight: bold;
    font-size: 18px;
    color: #3A3D42;
    margin-bottom: 25px;
}


.body-area-transfer .search {
    position: relative;
    margin-bottom: 50px;
}

.body-area-transfer .search input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    padding: 11px 0px 11px 54px;
    /* margin-bottom: 73px; */
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.4);
    border-radius: 12px;
    background: rgba(58, 61, 66, 0.1);
    border: none;
    height: 54px;
}
.body-area-transfer .icon-search{
    position: absolute;
    top: 14px;
    left: 18px;
}

.card-profile{
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:20px 0px 15px 20px;
    margin-bottom: 20px;
}
.card-profile img{
    border-radius: 10px;
}

.body-area-transfer .receiver h4{
    font-weight: bold;
    font-size: 18px;
    color: #4D4B57;
    margin-top: 8px !important;
    
}
.body-area-transfer .receiver p{
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
} 



.show{
    outline: hidden;
    border: hidden;
}

@media (max-width: 575.98px) { 
    .content .sidebar .logout-rc{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }

    .card-profile img{
        width: 56px;
        height: 56px;
    }

    .body-area-transfer{
        background-color:rgb(250, 252, 255) !important;
        box-shadow: none !important;
    }

    .quick-access{
        display: flex;
        flex-direction: column;
        padding: 20px 20px 15px 20px;
        background-color: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 96px;
        margin-right: 10px;
    }
    .quick-access img{
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .quick-access h4{
        margin:0;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #4D4B57;
    }
}




@media (min-width: 576px) and (max-width: 767.98px) { 
    .content .sidebar .logout-rc{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }
 }